<section class="my-7">
  <h1 class="text-3xl font-bold">Uncommon Page</h1>
  <h3 class="text-xl font-thin">Pipes includes in angular but with more complex use cases</h3>
</section>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <app-card title="i18nSelect Pipe">
    <p>Greetings {{ client().gender | i18nSelect: invitationMap}} {{ client().name }}, it's a pleasure to invite you to our platform.</p>
    <button class="btn btn-primary btn-sm mt-2" (click)="changeClient()">
      Change Client
    </button>
  </app-card>

  <app-card title="i18nPlural Pipe">
    <p>We have {{ clients().length | i18nPlural: clientsMap }} waiting for you.</p>
    <button class="btn btn-secondary btn-sm mt-2" (click)="removeClient()" [disabled]="clients().length === 0">
      Remove Client
    </button>
    <button class="btn btn-primary btn-sm mt-2" (click)="addClient()">
      Add Client
    </button>
  </app-card>
</div>

