<div class="card bg-base-100 shadow-xl shadow-black/75 animate-appear">
  <figure>
    <img
      [src]="product().images | productImage"
      [alt]="product().title"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-sans text-secondary text-xl hover:underline cursor-pointer"
    [routerLink]="['/product', product().slug]">{{ product().title }}</h2>
    <p>
      Description:
      {{
        product().description.length > 100
          ? (product().description | slice:0:100) + ' ...'
          : product().description
      }} <br />
      Price: ${{ product().price }} <br />
    </p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" [routerLink]="['/product', product().slug]">More</a>
    </div>
  </div>
</div>
