<app-search-input
[placeholder]="'Search by capital...'"
[debounceTime]="750"
[initialValue]="capital()"
(value)="capital.set($event)
"></app-search-input>

<country-list
  [countries]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isLoading]="countryResource.isLoading()"
  [isEmpty]="
    (countryResource.value() ?? []).length === 0 &&
    !countryResource.isLoading() &&
    !countryResource.error()
  "
></country-list>
<!-- @if (isError()) {
  <div class="alert alert-danger mt-4" role="alert">
    {{ isError() }}
  </div>
} @else {
  <country-list [countries]="countries()"></country-list>
} -->
